<div class="inner">
  <nav class="f-menu">
    <ul>
      <li class="f-depth1">
        <a href="#">회사소개</a>
        <ul class="f-depth2">
          <li><a href="#">우아한 청년들</a></li>
          <li><a href="#">우아한 일원직</a></li>
          <li><a href="#">윤리경영</a></li>
          <li><a href="#">준법경영</a></li>
        </ul>
      </li>
      <li class="f-depth1">
        <a href="#">비지니스</a>
      </li>
      <li class="f-depth1">
        <a href="#">상생경영</a>
        <ul class="f-depth2">
          <li><a href="#">안전</a></li>
          <li><a href="#">지속가능 물류경험</a></li>
        </ul>
      </li>
      <li class="f-depth1">
        <a href="#">미디어</a>
        <ul class="f-depth2">
          <li><a href="#">보도자료</a></li>
          <li><a href="#">언론보도</a></li>
          <li><a href="#">라이브러리</a></li>
        </ul>
      </li>
      <li class="f-depth1">
        <a href="#">스토어</a>
        <ul class="f-depth2">
          <li><a href="#">전체보기</a></li>
          <li><a href="#">Culture</a></li>
          <li><a href="#">Work</a></li>
        </ul>
      </li>
      <li class="menu-group">
        <ul>
          <li><a href="#">문의하기</a></li>
          <li><a href="#">제보/상담</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="f-info-sns">
    <div class="info">
      <ul class="address">
        <li>(주)우아한청년들</li>
        <li>대표 : 김용석</li>
        <li>사업자등록번호 : 417-87-00193</li>
        <li>주소 : 서울특별시 송파구 올림픽로35다길 32 9층</li>
      </ul>
      <p class="copyright">ⓒ Woowa Youths Inc.</p>
    </div>
    <div class="sns">
      <a class="in" href="#"><span class="a11y-hidden">in</span></a>
      <div class="sites">
        <button class="site-btn" type="button">관련 사이트</button>
        <ul class="site-list">
          <li><a href="#">우아한청년들 인재영입</a></li>
          <li><a href="#">배민B마트 크루 모집</a></li>
          <li><a href="#">배민커넥트 라이더 모집</a></li>
          <li><a href="#">우글우글</a></li>
          <li><a href="#">우아한형제들</a></li>
          <li><a href="#">Delivery Hero</a></li>
        </ul>
      </div>
    </div>
  </div>
  <ul class="cert">
    <li>
      <img src="./resource/images/cert_mark_01.png" alt="소화물 배송대행 서비스사업자" />
      <span
        >소화물 배송대행 <br />
        서비스사업자</span
      >
    </li>
    <li>
      <img src="./resource/images/cert_mark_02.png" alt="정보보호 관리체계 인증" />
      <span
        >정보보호 <br />
        관리체계인증</span
      >
    </li>
  </ul>
</div>
